
git-filter-repo
h5py
jupyterlab
keras==2.13.1
lightning
matplotlib
mlflow==2.22.0
mlxtend
nltk
numpy
opencv-python
pandas
scipy
scikit-learn
scikit-optimize
seaborn
skforecast
torch
torchaudio
torchvision
tqdm
tzdata